.grid-section {
	// height: 33rem;
	height: 89vh;
	overflow: scroll;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	grid-template-rows: auto;
	grid-gap: 1.2rem;

}


virtual-scroller {
	width: 350px;
	height: 200px;
}

my-custom-component {
	display: block;
	width: 100%;
	height: 30px;
}